
    :root {
        --font-outfit: 'Outfit', sans-serif;
        --regular: 400;
        --bold: 700;
        --White: hsl(0, 0%, 100%);
        --Light-gray: hsl(212, 45%, 89%);
        --Grayish-blue: hsl(220, 15%, 55%);
        --Dark-blue: hsl(218, 44%, 22%);
    }

    main, .general__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    main {
        background-color: var(--Light-gray);
        min-height: 100vh;
    }

    .general__container {
        background-color: var(--White);
        border-radius: 1rem;
        gap: 2rem;
        text-align: center;
        font-family: var(--font-outfit);
        max-width: 30rem;
    }

    h1 {
        color: var(--Dark-blue);
        font-weight: var(--bold);
        font-size: 2rem;
    }

    p {
        color: var(--Grayish-blue);
        font-weight: var(--regular);
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    footer {
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--Dark-blue);
        font-family: var(--font-outfit);
        font-size: 1rem
    }

    footer a {
        color: hsl(228, 84%, 71%);
        font-size: 1.1;
        text-decoration: none;
    }

    @media screen and (min-width: 500px) {
        footer {
            font-size: 1.2rem;
        }
        footer a {
            font-size: 1.6rem;
        }
    }